*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto;
    background: #fffded;
}
.container{
    margin: 0 150px;

}
.main-title{
    padding: 55px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #753C20;
    font-size: 48px;
    text-align: center;
}
.block {
    display: flex;
    margin-bottom: 55px;
}
img{
    width: 400px;
    height: 300px;
}
.block-text {
    margin: 0 55px;
}
.title {
    margin-bottom: 55px;
    color:#D89B82;
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
;
}
.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
.join-title{
    margin-bottom: 34px;
    font-size: 36px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #E78326;
}
.join-text{
    margin-bottom: 55px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.email{
    color: #E68326;
    text-decoration: none;
}
